<p class='fields'>
  <%= f.select :project_id, options_for_select(Project.all.reject{|x| @project.id == x.id}.collect{|x| [x.name, x.id]}, f.object.project_id) %>
  <%= f.hidden_field :_destroy %>
  <%= link_to_function l(:button_delete), "remove_fields(this)" %>
</p>
