<% level = 0 if level.nil? %>
<div>
    <% prefix = (level > 0 ? ('&nbsp;' * 2 * level + '&#187; ') : '') %>
    <%= prefix %>
    <%=  link_to (sidebar_milestone.version.nil? ? "" : (sidebar_milestone.version.name + "/")) + sidebar_milestone.name, milestone_path(sidebar_milestone) %>
    <% unless sidebar_milestone.children.empty? %>
        <% if params[:completed_milestones] %>
          <%= render :partial => "milestones/sidebar_milestone", :collection => sidebar_milestone.children, :locals => {:level => level+1} %>
        <% else %>
          <%= render :partial => "milestones/sidebar_milestone", :collection => sidebar_milestone.children.opened, :locals => {:level => level+1} %>
        <% end %>
    <% end %>
</div>