<% visited_milestones ||= Set.new %>
<% visited_milestones << sidebar_milestone.id %>
<% level = 0 if level.nil? %>
<div>
    <% prefix = (level > 0 ? ('&nbsp;' * 2 * level + '&#187; ') : '') %>
    <%= prefix %>
    <%=  link_to sidebar_milestone.project.id == @project.id ? sidebar_milestone.name : "#{sidebar_milestone.project.name}/#{sidebar_milestone.name}", milestone_path(sidebar_milestone) %>
    <% unless sidebar_milestone.children.empty? %>
        <% if params[:completed_milestones] %>
          <%= render :partial => "milestones/sidebar_milestone", :collection => sidebar_milestone.children.reject{|x| visited_milestones.include? x.id}, :locals => {:level => level+1} %>
        <% else %>
          <%= render :partial => "milestones/sidebar_milestone", :collection => sidebar_milestone.children.opened.reject{|x| visited_milestones.include? x.id}, :locals => {:level => level+1} %>
        <% end %>
    <% end %>
</div>