<h2><%=l(:label_milestone_new)%></h2>

<% labelled_form_for @milestone, :url => project_milestones_path(@project), :onsubmit=>"return select_assigned()" do |f| %>
    <%= render :partial => 'milestones/form', :locals => { :f => f } %>
    <%= submit_tag l(:button_create) %>
<% end %>
