<p id="milestone_placeholder">
    <% if issue.fixed_version.present? and not issue.fixed_version.milestones.empty? %>
      <%= form.select :milestone_id, [['',0]] + Milestone.find_all_by_version_id(issue.fixed_version.id).collect{|x| [x.name, x.id]} %>
    <% end %>
</p>
<% content_for :header_tags do %>
    <%= javascript_include_tag "milestones.js", :plugin => 'redmine_milestones' %>
    <script>
        window.root_path = "<%= home_url %>";
        document.observe("dom:loaded", function(){
            Event.observe($("issue_fixed_version_id"), "change", function() {
                issue_version_changed("<%= @project.id %>");
            });
        });
    </script>
<% end %>
