<% if @project.module_enabled?(:milestones_module) %>
    <p id="milestone_placeholder">
        <% @milestones = @project.milestones.versionless %>
        <% if issue.fixed_version.present? and not issue.fixed_version.milestones.empty? %>
            <% @milestones += issue.fixed_version.milestones %>
        <% end %>
        <%= form.select :milestone_id, [['',0]] + @milestones.collect{|x| [x.name, x.id]} %>
    </p>
<% end %>
<% content_for :header_tags do %>
    <%= javascript_include_tag "milestones.js", :plugin => 'redmine_milestones' %>
    <script>
        window.root_path = "<%= home_path.gsub(/\/$/,'') %>";
        document.observe("dom:loaded", function(){
            Event.observe($("issue_fixed_version_id"), "change", function() {
                issue_version_changed("<%= @project.id %>");
            });
        });
    </script>
<% end %>
