<% Milestone.find_all_by_version_id(version.id).each do |milestone| %>
    <div id="milestone_#{milestone.id}" class="milestone">
      <%= image_tag('milestone.png', :plugin=>'redmine_milestones', :style=>'vertical-align: top') %>
      <div style="display: inline-block">
        <strong>
          <%= link_to milestone.name, milestone_path(milestone) %>
        </strong>
        <br>
        <%=  milestone.description %>
      </div>
    </div>
<% end %>